<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Anleitung</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Anleitung</h4>
      </div>
      <div class="modal-body">

        <div>
          <h4>Code f체r Youtube Videos:</h4>
          <p>
            <code>
              &#60;div class="embed-responsive embed-responsive-16by9"&#62;<b>...</b>&#60;/div&#62;
            </code>
          </p>
        </div><!--end Youtube-->
        
        <div>
          <h4>F체r Text unter Bildern</h4>
          <code>
            &#60;div class="inline_post_images img-responsive" style="width:100%;"&#62;<br>
              &#60;img&#62; HierStehtDerText <br>
            &#60;/div&#62;<br>
          </code>
        </div><!-- Text unter Bildern-->
        
        <div>
          <h4>Bilder-Carousel</h4>
          <code>
            &#60;div class="card card-raised card-carousel"&#62;<br>
              &#60;div id="carousel-example-generic" class="carousel slide" data-ride="carousel"&#62;<br>
                &#60;div class="carousel slide" data-ride="carousel"&#62;<br>

                  &#60;!-- Indicators --&#62;<br>
                  &#60;ol class="carousel-indicators"&#62;<br>
                    &#60;li data-target="#carousel-example-generic" data-slide-to="0" class="active"&#62;&#60;/li&#62;<br>
                    &#60;li data-target="#carousel-example-generic" data-slide-to="1"&#62;&#60;/li&#62;<br>
                    &#60;li data-target="#carousel-example-generic" data-slide-to="2"&#62;&#60;/li&#62;<br>
                  &#60;/ol&#62;<br>

                  &#60;!-- Wrapper for slides --&#62;<br>
                  &#60;div class="carousel-inner"&#62;<br>
                    &#60;div class="item active"&#62;<br>
            <b>&#60;img src="..." alt="..."&#62;</b><br>
                      &#60;div class="carousel-caption"&#62;<br>
              <b>&#60;h4&#62;Beschreibung...&#60;/h4&#62;</b><br>
                      &#60;/div&#62;<br>
                    &#60;/div&#62;<br>
                    &#60;div class="item"&#62;<br>
                <b>&#60;img src="..." alt="..."&#62;</b><br>
                      &#60;div class="carousel-caption"&#62;<br>
                  <b>&#60;h4&#62;Beschreibung...&#60;/h4&#62;</b><br>
                      &#60;/div&#62;<br>
                    &#60;/div&#62;<br>
                    &#60;div class="item"&#62;<br>
                    <b>&#60;img src="..." alt="..."&#62;</b><br>
                      &#60;div class="carousel-caption"&#62;<br>
                      <b>&#60;h4&#62;Beschreibung...&#60;/h4&#62;</b><br>
                      &#60;/div&#62;<br>
                    &#60;/div&#62;<br>
                  &#60;/div&#62;<br>

                  <!-- Controls -->
                  &#60;a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"&#62;<br>
                    &#60;i class="material-icons"&#62;keyboard_arrow_left&#60;/i&#62;<br>
                  &#60;/a&#62;<br>
                  &#60;a class="right carousel-control" href="#carousel-example-generic" data-slide="next"&#62;<br>
                    &#60;i class="material-icons"&#62;keyboard_arrow_right&#60;/i&#62;<br>
                  &#60;/a&#62;<br>
                &#60;/div&#62;<br>
              &#60;/div&#62;<br>
            &#60;/div&#62;<br>
          </code>
          <p>Bitte daran denken, dass die h채sslichen "&#60;br /&#62;" hinter den img-Tags noch entfernt werden m체ssen</p>
        </div><!--end carousel-->

        

      </div><!--end modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
