<h3 class="title">Impressum</h3>
<br>
<h4 class="title">Angaben gem&auml;&szlig; &sect; 5 TMG:</h4> <p>Julian
  Eissing<br /> Husumer Str. 22<br /> 20249 Hamburg </p>
<h4 class="title">Kontakt:</h4>
<table>
  <tr>
    <td>Telefon:</td><td>+49 (0) 40 4696 15 19</td>
  </tr>
  <tr>
    <td>Telefax:</td><td>+ 49 (0) 32226494659</td>
  </tr>
  <tr>
    <td>E-Mail:
    </td>
  <td>julian.eissing@t-online.de</td>
  </tr>
</table>
<h4 class="title">
  Verantwortlich f&uuml;r
  den Inhalt nach &sect; 55 Abs. 2 RStV:
</h4>
<p>
  Bj&ouml;rn Lundt
  <br>
  Semperstr. 1<br>
  22303 Hamburg
</p>
<h4 class="title">
  Haftung f&uuml;r Inhalte
  </h4>
<p>
  Als
  Diensteanbieter sind wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene
  Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach
  &sect;&sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
  verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu
  &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine
  rechtswidrige T&auml;tigkeit hinweisen.
</p>
<p>
    Verpflichtungen zur Entfernung
  oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
  bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch
  erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung
  m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden
  wir diese Inhalte umgehend entfernen.
</p>
<h4 class="title">Haftung f&uuml;r Links</h4>
<p>
  Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren
Inhalte wir keinen Einfluss haben. Deshalb k&ouml;nnen wir f&uuml;r diese
fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte
der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft.
Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
</p>
<p>
  Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch
ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
entfernen.</p>
<h4 class="title">Urheberrecht</h4>
<p>
  Die durch die Seitenbetreiber
  erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
  Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede
  Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes
  bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
  Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten,
  nicht kommerziellen Gebrauch gestattet.
</p>
<p>
  Soweit die Inhalte auf dieser
  Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
  beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.
  Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
  bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
  Rechtsverletzungen werden wir derartige Inhalte umgehend
  entfernen.
</p>
<br>
<hr>
<br>
<!--Datenschutzerklärung-->
<h3 class="title">Datenschutzerkl&auml;rung:</h3>
<br>
<h4 class="title">Datenschutz</h4> 
<p>
  Die Betreiber
  dieser Seiten nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir
  behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der
  gesetzlichen Datenschutzvorschriften sowie dieser
  Datenschutzerkl&auml;rung.
</p> 
<p>Die Nutzung unserer Webseite ist in der
  Regel ohne Angabe personenbezogener Daten m&ouml;glich. Soweit auf unseren
  Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-
  Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf
  freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche
  Zustimmung nicht an Dritte weitergegeben.
</p> 
<p>Wir weisen darauf hin, dass
  die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail)
  Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten
  vor dem Zugriff durch Dritte ist nicht m&ouml;glich.
</p>
<p>&nbsp;</p>
<h4 class="title">Cookies</h4> 
<p>Die Internetseiten verwenden teilweise so genannte
  Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten
  keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher,
  effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf
  Ihrem Rechner abgelegt werden und die Ihr Browser speichert.</p> 
<p>Die
  meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“.
  Sie werden nach Ende Ihres Besuchs automatisch gel&ouml;scht. Andere Cookies
  bleiben auf Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen.
  Diese Cookies erm&ouml;glichen es uns, Ihren Browser beim n&auml;chsten
  Besuch wiederzuerkennen.
</p>
<p>Sie k&ouml;nnen Ihren Browser so einstellen,
  dass Sie &uuml;ber das Setzen von Cookies informiert werden und Cookies nur
  im Einzelfall erlauben, die Annahme von Cookies f&uuml;r bestimmte F&auml;lle
  oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der
  Cookies beim Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung
  von Cookies kann die Funktionalit&auml;t dieser Website eingeschr&auml;nkt
  sein.
</p>
<p>&nbsp;</p> 
<h4 class="title">Server-Log-Files</h4> 
<p>Der Provider der Seiten
  erhebt und speichert automatisch Informationen in so genannten Server-Log
  Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p>
<ul>
  <li>Browsertyp und Browserversion</li>
  <li>verwendetes
    Betriebssystem
  </li>
  <li>Referrer URL</li>
  <li>Hostname des zugreifenden
    Rechners
  </li>
  <li>Uhrzeit der Serveranfrage</li>
</ul> 
<p><br>Diese Daten
  sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser
  Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor,
  diese Daten nachtr&auml;glich zu pr&uuml;fen, wenn uns konkrete Anhaltspunkte
  f&uuml;r eine rechtswidrige Nutzung bekannt werden.
</p>
<p>&nbsp;</p>
<h4 class="title">Kontaktformular</h4> 
<p>Wenn Sie uns per Kontaktformular Anfragen
  zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der
  von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und
  f&uuml;r den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben
  wir nicht ohne Ihre Einwilligung weiter.
</p>
<p>&nbsp;</p>
<h4 class="title">
  Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Facebook-Plugins (Like-
  Button)
</h4> 
<p>Auf unseren Seiten sind Plugins des sozialen Netzwerks
  Facebook, Anbieter Facebook Inc., 1 Hacker Way, Menlo Park, California 94025,
  USA, integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
  dem "Like-Button" ("Gef&auml;llt mir") auf unserer Seite. Eine &Uuml;bersicht
  &uuml;ber die Facebook-Plugins finden Sie hier: 
  <a href="http://developers.facebook.com/docs/plugins/">
  http://developers.facebook.com/docs/plugins/</a>.
</p>
<p>Wenn Sie unsere Seiten besuchen, wird &uuml;ber das Plugin eine direkte
  Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt.
  Facebook erh&auml;lt dadurch die Information, dass Sie mit Ihrer IP-Adresse
  unsere Seite besucht haben. Wenn Sie den Facebook "Like-Button" anklicken
  w&auml;hrend Sie in Ihrem Facebook-Account eingeloggt sind, k&ouml;nnen Sie
  die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann
  Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen
  darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der
  &uuml;bermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere
  Informationen hierzu finden Sie in der Datenschutzerkl&auml;rung von Facebook
  unter <a href="http://de-de.facebook.com/policy.php">http://de-
  de.facebook.com/policy.php</a>.
</p> 
<p>Wenn Sie nicht w&uuml;nschen, dass
  Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann,
  loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
</p><p>&nbsp;</p>
<h4 class="title">Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Twitter</h4>
<p>Auf
  unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese
  Funktionen werden angeboten durch die Twitter Inc., 1355 Market Street, Suite
  900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der
  Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem
  Twitter-Account verkn&uuml;pft und anderen Nutzern bekannt gegeben. Dabei
  werden auch Daten an Twitter &uuml;bertragen. Wir weisen darauf hin, dass wir
  als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten
  Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen
  hierzu finden Sie in der Datenschutzerkl&auml;rung von Twitter unter 
  <a href="http://twitter.com/privacy">http://twitter.com/privacy</a>.
</p> 
<p>Ihre
  Datenschutzeinstellungen bei Twitter k&ouml;nnen Sie in den Konto-
  Einstellungen unter:
  <a href="http://twitter.com/account/settings">http://twitter.com/account/settings</a>
  &auml;ndern.
</p>
<p>&nbsp;</p> 
<h4 class="title">Datenschutzerkl&auml;rung f&uuml;r die
  Nutzung von Instagram</h4> 
<p>Auf unseren Seiten sind Funktionen des Dienstes
  Instagram eingebunden. Diese Funktionen werden angeboten durch die Instagram
  Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA integriert. Wenn Sie in
  Ihrem Instagram-Account eingeloggt sind k&ouml;nnen Sie durch Anklicken des
  Instagram-Buttons die Inhalte unserer Seiten mit Ihrem Instagram-Profil
  verlinken. Dadurch kann Instagram den Besuch unserer Seiten Ihrem
  Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der
  Seiten keine Kenntnis vom Inhalt der u?bermittelten Daten sowie deren Nutzung
  durch Instagram erhalten.
</p> 
<p>
  Weitere Informationen hierzu finden Sie in
  der Datenschutzerkl&auml;rung von Instagram: 
  <a href="http://instagram.com/about/legal/privacy/">http://instagram.com/about/legal/privacy/</a>
</p>
<p>&nbsp;</p>
<h4 class="title">Datenschutzerkl&auml;rung f&uuml;r die Nutzung von YouTube</h4>
<p>
  Unsere
  Webseite nutzt Plugins der von Google betriebenen Seite YouTube. Betreiber
  der Seiten ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.
  Wenn Sie eine unserer mit einem YouTube-Plugin ausgestatteten Seiten
  besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt. Dabei
  wird dem Youtube-Server mitgeteilt, welche unserer Seiten Sie besucht
  haben.</p> <p>Wenn Sie in Ihrem YouTube-Account eingeloggt sind
  erm&ouml;glichen Sie YouTube, Ihr Surfverhalten direkt Ihrem
  pers&ouml;nlichen Profil zuzuordnen. Dies k&ouml;nnen Sie verhindern, indem
  Sie sich aus Ihrem YouTube-Account ausloggen.</p>
<p>Weitere Informationen
  zum Umgang von Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung von
  YouTube unter: 
  <a href="https://www.google.de/intl/de/policies/privacy">
    https://www.google.de/intl/de/policies/privacy</a>
</p>
<p>&nbsp;</p>
<h4 class="title">Kommentarfunktion auf dieser Webseite</h4>
<p>Wenn Sie uns per
  Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem
  Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks
  Bearbeitung der Anfrage und f&uuml;r den Fall von Anschlussfragen bei uns
  gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
</p>
<p>Quelle:
  <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
</p>

<h4 class="title">Einsatz von Google AdSense</h4>
<p>

<ol class="google_adsense">
  <li>Unsere Website nutzt Google AdSense, einen Online-Werbedienst der Google Inc. („Google“).
  Google AdSense verwendet sog. „Cookies“, Textdateien, die auf dem Computer der Nutzer gespeichert
  werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch
  sogenannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der
  Besucherverkehr auf den Seiten dieses Angebots ausgewertet werden. Die durch Cookies und Web Beacons
  erzeugten Informationen über die Benutzung dieser Website (einschließlich der IP-Adresse der Nutzer)
  und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort
  gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden.
  Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
  </li>

  <li>Nutzer können die Installation der Cookies von Google AdSense auf verschiedene Weise verhindern:</li>

  <ol type="a">
    <li>durch eine entsprechende Einstellung der Browser-Software;</li>
    <li>durch Deaktivierung der interessenbezogenen Anzeigen bei Google;</li>
    <li>durch Deaktivierung der interessenbezogenen Anzeigen der Anbieter, die
      Teil der Selbstregulierungs-Kampagne „About Ads“ sind;</li>
    <li>durch dauerhafte Deaktivierung durch ein Browser-Plug-in.</li>
  </ol>

  <p>Die Einstellungen unter b) und c) werden gelöscht, wenn Cookies in den Browsereinstellungen gelöscht werden.</p>

  <li>Nähere Informationen zu Datenschutz und Cookies für Werbung bei Google AdSense sind in der Datenschutzerklärung
    von Google, insbesondere unter den folgenden Links zu finden:</li>
  <ul>
   <li><a href="http://www.google.de/policies/privacy/partners/">http://www.google.de/policies/privacy/partners/</a></li>
    <li><a href="http://www.google.de/intl/de/policies/technologies/ads">http://www.google.de/intl/de/policies/technologies/ads</a></li>
    <li><a href="http://support.google.com/adsense/answer/2839090">http://support.google.com/adsense/answer/2839090</a></li>
  </ul>
  </p>
</ol>

