<% if user_signed_in? %>
  <%= render 'shared/navigation' %>
<% end %>
<div class="col-md-12 col-xs-12">
  <%= image_tag 'logocarbon1.png', class: 'logo img-responsive' %>
</div>

<div id="welcome">
  <h1 >Welcome! We are coming soon!</h1>
</div>