<div class="container-fluid logo_backround">
  <div class="div_logo">
    <%= link_to(root_path) do %>
      <%= image_tag 'materiallogo_schriftzug.png', class: 'logo' %>
    <% end %>
  </div>
</div>
