<%=	 form_tag('/posts', method:'get', class:'form-group', role:'search') do %>
    <div class="form-group label-floating">
      <%= label :q, 'Suchen nach', class: 'control-label' %>
      <%=	text_field_tag(:q, nil, class:'form-control', ) %>
      <%= submit_tag("suchen", class:'btn btn-default')%>
    </div>
<% end %>