<div class="fb-like col-md-4"
     data-href="<%= data_href %>"
     data-layout="button_count" data-action="like"
     data-size="large"
     data-show-faces="false" data-share="true">
</div>
<div class="twitter col-md-3">
  <a class="twitter-share-button"
     href="https://twitter.com/intent/tweet?text=<%= tweet_text %>" data-size="large">
    Tweet
  </a>
  <script src="//platform.twitter.com/widgets.js"></script>
</div>
