<div class="tags">
  <h3 class="title">Häufige Tags</h3>

  <table>
    <% Tag.joins(:posts).group('tags.id').where(:posts => {:active => true}).order('COUNT(posts.id) DESC').take(5).each do |t| %>
        <tr>
          <td><%= link_to raw(t.name + ' <span class="badge">' + t.posts.where(:posts => {:active => true}).count.to_s\
            + '</span>'), tag_path(t.id),\
            class:'btn btn-success btn-xs btn-round',\
            style: 'background-color:' + t.color + '; color:' + t.text_color + ';' %>
          </td>
        </tr>
    <% end %>
  </table>

  <%= link_to '...mehr', tags_path %>

</div>

