<div class="welcome">
  <h4 class="title">Willkommen bei den Sporting Nerds!</h4>
  <p>
    Bei uns könnt ihr Witziges, Informatives
    und Neues über Spiele, Ernährung und Sport finden - und manchmal sogar alles zusammen vereint.
    Viel Spaß!
  </p>
</div>
<hr>