<div class="welcome">
  <p>
    Willkommen bei den Sporting Nerds. <br> Bei uns könnt ihr Witziges, Informatives
    und Neues über Spiele, Ernährung und Sport finden - und manchmal sogar alles zusammen.
    Viel Spaß!
  </p>
</div>
<hr>