<div class="newest_post">
  <% posts = Post.where(active: true).last(3) %>
  <h3 class="title">Aktuelle Beiträge</h3>

  <% unless posts.nil?%>
      <% posts.each do |post| %>
        <h6 class="category text-info"
            style="color: <%= post.category.title_color %>">
          <%= post.category.name %></h6>
        <a href="<%= post_path(post) %>">
          <h6 class="title sidebar_newest_posts"><%= post.title %></h6>
        </a>
        <%#= image_tag post.image.url, class:'new_post_image' %>
        <%#= truncate_html(post.content, length: 150, omission: '...')  %>
        <%#= link_to 'weiterlesen', post_path(post.id), class: 'btn btn-info' %>
      <% end %>
  <% end %>
</div>