<div id="posts">
  <% if @posts.length>0 %>
    <%= render @posts  %>
  <% else  %>
    <h4 class="title">Leider wurden keine passenden Beiträge gefunden.</h4>
  <% end %>
</div>

<div id="with-button">
  <%= will_paginate @posts,  renderer: BootstrapPagination::Rails %>
</div>

<% if @posts.next_page %>
    <div id="load_more_posts" class="btn btn-primary btn-lg">Weitere Beiträge</div>
<% end %>
<br>




