<div id="posts">
  <% if @posts.length>0 %>
    <%= render @posts  %>
  <% else  %>
    <h4 class="title">Leider wurden keine passenden Beiträge gefunden.</h4>
  <% end %>
</div>

<div id="with-button">
  <% unless Rails.env.test? %>
    <%= will_paginate @posts,  renderer: BootstrapPagination::Rails %>
  <% end %>
</div>

<% unless Rails.env.test? %>
  <% if @posts.next_page %>
      <div id="load_more_posts" class="btn btn-primary btn-lg">Weitere Beiträge</div>
  <% end %>
<% end %>

<br>




