<% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
<% end %>

<div id="posts">
  <%= render @posts  %>
</div>

<div id="with-button">
  <%= will_paginate @posts,  renderer: BootstrapPagination::Rails %>
</div>


<% if @posts.next_page %>
    <div id="load_more_posts" class="btn btn-primary btn-lg">Weitere Beiträge</div>
<% end %>

<br>




