body#coming_soon{
  background-image: url(image_path('controller_hantel.jpg'));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#welcome{
  text-align: center;
  margin:25%;
  color:antiquewhite;
}
