// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post_index td{
  font-size: 1.5em;
  width:100%;
}
tr{
  border-bottom: solid 1px;
  padding-top: 1%;
}
table {
  width: 50%;
}