// Place all the styles related to the posts controller here.

/*****************/
/*Post Show Page*/
/***************/

.post_main_image{
  width: 100%;
  margin: 3% auto;
}

.blog-text{
  line-height: 1.5em;
  color: rgb(85, 85, 85);
  font-size: 1.35em;
  
  a {
    color: #00b0ff;
    font-weight: 400;
    font-size: 0.9em;
  }
  
  a:hover{
    color: #ffb74d;
  }
}

.pics{
  padding: 0.7%;
  background-color: #263238;
  font-size: 0.7em;
  //display: inline-block;
  //-webkit-border-radius:1%;
  //-moz-border-radius:1%;
  //border-radius:2%;
  color: #eceff1;
  font-weight: 400;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:  0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  h6{
    color:whitesmoke;
    text-align: center;
  }

}



.high_pics{
  @extend .pics;
  margin: 1% auto;
}

.normal_pics{
  @extend .pics;
  margin: 1% 0;
}

.tags{ padding-left: 0; }

/******************/
/*Post Index Page*/
/****************/

.post-image-index{
  margin: 10% 3%;
  background-color: white;
}

.posts_index{
  padding: 3%;
}

/*********/
/*Rating*/
/*******/

#rating{
  margin-top:5%;
  margin-bottom:5%;

  div{
    background-image: url(image_path('rating/rating_bar.png'));
    background-size: cover;
    text-align: right;
    color: whitesmoke;
    margin-bottom:1%;
    padding: 1%;
    font-size: 1.1em;
  }

  .rating_total{
    background-image: url(image_path('rating/review_bar_total.png'));
    color:  #006064;
    font-size: 1.3em;
  }

}

/************/
/*Post Form*/
/**********/

.post_form{
  background-color: rgba(255,255,255,1);
  padding: 1%;
}

.post_form_sidebar h3{
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 7%;
}

/***************/
/*Landing Page*/
/*************/

.landing_page_images{
  background-size: cover;
  min-height: 200px;
  max-height: 200px;
}

#header_new_posts{
  text-align: center;
  margin-bottom: 5%;
}

.card-image{
  background-position: center;
}


/****************/
/*Media queries*/
/**************/

@media only screen and (min-width: 768px){

  .content_wrapper{
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 3%;
    margin-top: 2%;
    border-radius: 0.1%;
    margin-bottom: 2%;
  }

  #rating{

    div{
      font-size: 1.5em;
    }

    .rating_total{
      font-size: 1.7em;
    }
  }
}


