/***************/
/*Manual Modal*/
/*************/
.modal-lg {
  width: 1200px;
}

/**************/
/*Datenschutz*/
/************/
.google_adsense{
  padding-left:2%;
}

.datenschutz{

  a {
    color: #00b0ff;
    font-weight: 400;
    font-size: 0.9em;
  }

  a:hover{
    color: #ffb74d;
  }
}