@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin-top: 70px;
  background-image: url(asset_path("backgrounds/white.png"));
  background-attachment: fixed;
  background-size: cover;
}

a{
  color: black;
  font-size: 1.1em;
}

code {font-family: monospace;}

footer{
  position: relative;
  z-index: 1;
  margin-top: -0.5%;
}

.application_container{
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 0.1%;
  margin-top: -1%;
  position: relative;
  z-index: 2;
}

/*************/
/*Navigation*/
/***********/
#nav {

  li {
    -webkit-border-radius: 0.2%;
    -moz-border-radius: 0.2%;
    border-radius: 3%;
  }

  li a {font-size: 1.5em;}
}

#admin li a:hover{color: black;}

.btn.btn-simple,
.btn.btn-default.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-default.btn-simple {
  color: white;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

/*******/
/*Logo*/
/******/

.logo{width: 100%;  }

.div_logo{margin: 2% 30%;}

.logo_backround{
  background-color: #00bcd4;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

/******************/
/*Welcome Partial*/
/****************/
.welcome{
  font-size: 1.5em;
  font-weight:400;
  color: #546e7a;
  background-color: rgb(178, 235, 242);
  padding: 2%;
  -webkit-border-radius:0.1%;
  -moz-border-radius:0.1%;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  line-height: 1.5;
  text-shadow: 1px 1px #b0bec5;
}

/*************/
/*Side-Stuff*/
/***********/

.separator{margin: 0 auto;}

.search_bar_separator{display: none;}

#load_more_posts {
  display: none;
  margin-bottom: 10px; /* Some margin to separate it from the footer */
}

.separator{margin: 3% auto;}

.sidebar_newest_posts{ text-transform: none; }

/**********************/
/*Social Media Button*/
/********************/

.twitter{margin-top: 0;}


/****************/
/*Media Queries*/
/**************/

@media only screen and (max-width: 991px) {
  .nav_social_media {
    display: none;
  }

  .welcome{
    display: none;
  }

  .search_bar_separator{display: block;}

  .twitter{margin-top: 1%;}

}

@media only screen and (min-width: 768px) {

  .div_logo{margin: 2% auto;}

  .logo{
    width: 20%;
    margin: 0 40%;
  }

  #nav {
    li:hover{
      background-color: #84ffff;
      -webkit-transition: background-color 2000ms linear;
      -ms-transition: background-color 2000ms linear;
      transition: background-color 2000ms linear;
    }

    li a:hover{
      color: #006064;
      -webkit-transition: color 500ms linear;
      -ms-transition: color 500ms linear;
      transition: color 500ms linear;
    }
  }
}

