@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin-top: 70px;
  background-image: url(asset_path("backgrounds/white.png"));
  background-attachment: fixed;
  background-size: cover;
  //font-family: 'Open Sans', sans-serif;
  //font-size: 1.5em;
}

a{
  color: black;
  font-size: 1.1em;
}


code {
  font-family: monospace;
}

footer{
  position: relative;
  z-index: 1;
  margin-top: -0.5%;
}

//.sporting_nerds_footer{
//  background-color:  #00bcd4;
//  color: whitesmoke;
//}
//.sporting_nerds_footer i{
//color: #FFFFFF;
//opacity: .86;
//}

//Navigation

#nav li a{

  font-size: 1.5em;

}

.btn.btn-simple, .btn.btn-default.btn-simple, .navbar .navbar-nav > li > a.btn.btn-simple, .navbar .navbar-nav > li > a.btn.btn-default.btn-simple {
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav_social_media {
    display: none;
  }
}

.application_container{
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 0.3%;
  margin-top: -1%;
  //margin-bottom: -1%;
  position: relative;
  z-index: 2;
  
}

.logo{
  width: 15%;
  margin: 2% 43%;
}

.div_logo{
  background-color: #00bcd4;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.logo-link{
  height: 50px;
  padding: 0;
}

.anchor{
  padding-top: 50px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.thumbnail{
  background: rgba(255,255,255,0.9);
}

.admin-sidebar{
  position: fixed;
  top:10%;
  right:70%;
}

.separator{
  margin: 0 auto;
}

#load_more_posts {
  display: none;
  margin-bottom: 10px; /* Some margin to separate it from the footer */
}

#admin li a:hover{
  color: black;
}

#table-user-index th{
  font-size:1em;
}

.separator{
  margin: 3% auto;
}




