// Place all the styles related to the Tags controller here.

/******************/
/*Tags index page*/
/****************/
.table_tags{
  width: 50%;
}

/*********************/
/*Tags on side stuff*/
/*******************/
.btn-success .badge {
  color: #263238;
  background-color: #eceff1;
}
