// Place all the styles related to the users controller here.

/***********/
/*about us*/
/*********/
.about_us{
  font-size: 1.3em;
  line-height:1.5;
}

.user_index{font-size: 1.1em; line-height:1.5;}

.about_contact_link{margin-top:2%;}